
*.pdf

Contacts/Contacts.xcodeproj/project.xcworkspace/xcuserdata/Griffin.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

Contacts/Contacts.xcodeproj/project.xcworkspace/xcuserdata/Griffin.xcuserdatad/UserInterfaceState.xcuserstate

Contacts/Contacts.xcodeproj/project.xcworkspace/xcuserdata/Griffin.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.pbxproj

*.xcbkptlist
